<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
                        
<mapper namespace="mybatis.ClientesMapper"> <!-- interface java -->
    <resultMap id="clientes" type="dto.Clientes">
        <id column="idcliente" property="idcliente" jdbcType="INTEGER"/>
        <result column="nombrecliente" property="nombrecliente" jdbcType="VARCHAR"/>
        <result column="ruc" property="ruc" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>

