<?xml version='1.0' encoding='UTF-8' ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
    <!-- datasource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" />

    <bean class="org.mybatis.spring.SqlSessionFactoryBean" 
          id="sqlSessionFactory">
        <!-- inyectando a los daos - los manage beans, son el reemplazo de los controllers de spring. -->
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperFactoryBean" 
          id="categoriasMapper">
        <property name="mapperInterface" value="mybatis.CategoriasMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperFactoryBean" 
          id="distritosMapper">
        <property name="mapperInterface" value="mybatis.DistritosMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperFactoryBean" 
          id="restaurantesMapper">
        <property name="mapperInterface" value="mybatis.RestaurantesMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
    <bean class="dao.impl.DaoCategoriasImpl" id="daoCategorias">
        <property name="categoriasMapper" ref="categoriasMapper"/>
    </bean>
    
    <bean class="dao.impl.DaoDistritosImpl" id="daoDistritos">
        <property name="distritosMapper" ref="distritosMapper"/>
    </bean>
    
    <bean class="dao.impl.DaoRestaurantesImpl" id="daoRestaurantes">
        <property name="restaurantesMapper" ref="restaurantesMapper"/>
    </bean>
    
    <bean class="web.managedbean.ManagedBeanCategorias" id="mbCategorias">
        <property name="daoCategorias" ref="daoCategorias"/>
    </bean>
    
    <bean class="web.managedbean.ManagedBeanRestaurantes" id="mbRestaurantes">
        <property name="daoRestaurantes" ref="daoRestaurantes"/>
        <property name="daoCategorias" ref="daoCategorias"/>
        <property name="daoDistritos" ref="daoDistritos"/>
    </bean>

</beans>

